$tabs-border-radius: 3px;
$underlined-arrow-button-width: 40px;
$arrow-button-width: 44px;
$tabs-border: 1px solid $black-25;
$tabs-border-dark: 1px solid $white-25;
$tabs-border-transparent: 1px solid transparent;
